body {
    background-image: url("migos.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

}
    
border: solid 2px blue:
}
.mainContent{

    border: solid 5x red;
}
border: